<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="nlog-err.log">

  <targets async="true">
    <target name="error_file" xsi:type="File"
            fileName="${basedir}/Logs/${shortdate}.log"
            layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] [${callsite}] [${level:uppercase=false:padding=-5}] ${message} ${newline} ${onexception:${exception:format=tostring} ${newline} ${stacktrace}" />
    <target xsi:type="RichTextBox"
              name="rtbLog"
              formName="FormMain"
              controlName="richTextBox1"
              layout="[${date:format=yyyy-MM-dd HH\:mm\:ss.fff}] ${message}"
              width="600"
              height="400"
              maxLines="1000"
              autoScroll="true"
              toolWindow="false"
              supportLinks="true"
              allowAccessoryFormCreation="false"
              useDefaultRowColoringRules="true">
        <word-coloring fontColor="Highlight" regex="\[\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3}\]"/>
        <word-coloring fontColor="Red" style="Bold" text="xxxxx"/>
    </target>
  </targets>

  <rules>
    <!--将Error级别的日志输出到文件中-->
    <logger name="*" level="Error" writeTo="error_file" />
    <!--RichTextBox窗体日志记录-->
    <logger name="*" level="Info" writeTo="rtbLog" enabled="false"/>
  </rules>
</nlog>
